<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <li>
        <a href="../index.php"><i class="fa fa-home"></i> Dashboard </a>
      </li>
      <li>
        <a
          ><i class="fa fa-clone"></i>Laporan
          <span class="fa fa-chevron-down"></span
        ></a>
        <ul class="nav child_menu">
          <li><a href="siswa.php">Laporan Data Siswa</a></li>
          <li><a href="jadwal.php">Laporan Jadwal Pelajaran</a></li>
          <li><a href="kelas.php">Laporan Data Kelas</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /menu_section -->
</div>
<!-- /sidebar menu -->
