<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a href="../index.php"><i class="fa fa-home"></i> Dashboard </a>
            </li>
            <li>
              <a href="../pegawai/pegawai.php"><i class="fa fa-users"></i> Data Pegawai </a>
            </li>
            <li>
              <a href="../siswa/siswa.php"><i class="fa fa-user"></i> Data Siswa </a>
            </li>
            <li>
              <a href="../mapel/mapel.php"><i class="fa fa-book"></i> Data Pelajaran </a>
            </li>
            <li>
              <a href="../kelas/kelas.php"><i class="fa fa-bank"></i> Data Kelas </a>
            </li>
            <li>
              <a href="../japel/japel.php"><i class="fa fa-calendar-o"></i> Data Jadwal Pelajaran </a>
            </li>
            <li><a><i class="fa fa-cog"></i>Setting <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="../tahunajaran/tahunajaran.php">Tahun Ajaran</a></li>
                <li><a href="../datasekolah/datasekolah.php">Data Sekolah</a></li>
              </ul>
            </li>
        </ul>
    </div><!-- /menu_section -->
</div>