<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a href="../index.php"><i class="fa fa-home"></i> Home </a>
            </li>
            <li><a><i class="fa fa-cog"></i>Setting <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="../tahunajaran/tahunajaran.php">Tahun Ajaran</a></li>
                <li><a href="../datasekolah/datasekolah.php">Data Sekolah</a></li>
              </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> Master Data <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="../pegawai/pegawai.php">Data Pegawai</a></li>
                    <li><a href="../mapel/mapel.php">Data Pelajaran</a></li>
                    <li><a href="../extra/extra.php">Data Extrakurikuler</a></li>
                    <li><a href="../kelas/kelas.php">Data Kelas</a></li>
                    <li><a href="../guru/guru.php">Data Guru</a></li>
                    <li><a href="../siswa/siswa.php">Data Siswa</a></li>
                    <li><a href="../absen/absen.php">Data Absensi</a></li>
                    <li><a href="../japel/japel.php">Data Jadwal Pelajaran</a></li>
                    <!-- <li><a href="../naikkelas/naikkelas.php">Naik Kelas</a></li> -->
                </ul>
            </li>
            <li><a><i class="fa fa-clone"></i>Laporan <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="../laporan/siswa.php">Laporan Data Siswa</a></li>
                    <li><a href="../laporan/absen.php">Laporan Data Absen Siswa</a></li>
                    <li><a href="../laporan/nilai.php">Laporan Data Nilai</a></li>
                    <li><a href="../laporan/guru.php">Laporan Data Guru</a></li>
                    <li><a href="../laporan/jadwal.php">Laporan Jadwal Pelajaran</a></li>
                    <li><a href="../laporan/kelas.php">Laporan Data Kelas</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /menu_section -->
</div>