<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a href="../index.php"><i class="fa fa-home"></i> Dashboard </a>
            </li>
            <li>
              <a href="../japel/japel.php"><i class="fa fa-calendar-o"></i> Data Jadwal Pelajaran </a>
            </li>
            <li>
              <a href="../nilai/nilai.php"><i class="fa fa-bank"></i> Data Nilai </a>
            </li>
            <li>
              <a href="../rapot/rapot.php"><i class="fa fa-book"></i> Data Rapot </a>
            </li>
            <li><a><i class="fa fa-clone"></i>Laporan <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="../laporan/nilai.php">Laporan Data Nilai</a></li>
                    <li><a href="../laporan/jadwal.php">Laporan Pelajaran</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /menu_section -->
</div>